.profile-button {
    display: block;
    background-color: #39877e; /* #80d0c7; */
    border: none;
    color: white;
    padding: 1em;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    margin: 2em 1em;
    cursor: pointer;
    border-radius: 1em;
}

.profile-button:hover {
    background-color: #264f43;
}

.logout-button {
    width: 90%;
}

.buttons-container {
    width: 30%;
}

.search-container button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-container button:hover {
    background-color: #0056b3;
}

.search-container button i {
    font-size: 16px;
}

.add-gift-button {
    max-width: fit-content;
    margin: 0 auto;
}