{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GiftWithCause</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body>
<header>
    <nav class="header-nav">
        <a href="{% url 'home' %}">
            <img src="{% static 'images/logo.png' %}">
        </a>
        <div class="main-nav">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'gift-offers' %}">Gift Offers</a></li>
                <li><a href="{% url 'gift-searches' %}">Gift Searches</a></li>
                <li><a href="{% url 'gift-creators' %}">Our Heroes</a></li>
                <li><a href="{% url 'about' %}">About Us</a></li>
                {% if not request.user.is_authenticated %}
                    <li><a href="{% url 'login' %}"><i class="fa-regular fa-user"></i> Login / Register</a></li>
                {% else %}
                    <li><a href="{% url 'profile-details' request.user.pk %}"><i
                            class="fa-regular fa-user"></i> {{ request.user.email }}</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>
<main>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</main>
<footer>
    <div class="footer-nav">
        <a href="{% url 'home' %}">
            <img src="{% static 'images/logo.png' %}">
        </a>
        <div>
            <ul>
                <li><a href="https://www.facebook.com/groups/369212334446352"><i class="fa-brands fa-facebook"></i> Contact Us</a></li>
            </ul>
        </div>
    </div>
    <p>Created by Silvia Yotovska for Django Advanced Final Project</p>
</footer>
</body>
</html>