{% extends 'base.html' %}
{% block content %}
    <h1>Gifts</h1>

    {% if request.user.is_creator %}
        <a class="profile-button add-gift" href="{% url 'gift-create' %}">Create new gift offer</a>
    {% endif %}

    <div class="posts-container">
        {% for gift in all_gifts %}
            <a href="{% url 'gift-details' gift.pk %}" class="post-card">
                <h2>{{ gift.title }}</h2>
                <img src="{{ gift.image }}"
                     width="60px" height="60px">
                <h3>Creator {{ gift.creator.user.email }}</h3>
                <p>Description {{ gift.description }}</p>
                <p>Price {{ gift.price }}</p>
            </a>
        {% endfor %}
    </div>

    <div class="pagination">
        {% if page_obj.has_previous %}
            <a href="?page=1">First</a>
            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
    </div>
{% endblock %}