{% extends 'base.html' %}
{% block content %}
    <h2>Gifts</h2>

    {% if request.user.is_creator %}
        <a class="profile-button add-gift-button" href="{% url 'gift-create' %}">Create new gift offer</a>
    {% endif %}

    <div class="posts-container posts-container-center">
        {% for gift in all_gifts %}
            <a href="{% url 'gift-details' gift.pk %}" class="post-card">
                <h2>{{ gift.title }}</h2>
                <img src="{{ gift.image }}" width="60px" height="60px">
                <p>Description: {{ gift.description|truncatechars:100 }}</p>
                <p><strong>Price: {{ gift.price }} lv.</strong></p>
                <p class="smaller-gray-text">Created from: {{ gift.creator.user.profile.get_full_name }}</p>
                <p class="smaller-gray-text">Posted on: {{ gift.created_at }}</p>
            </a>
        {% endfor %}
    </div>

    <div class="pagination">
        {% if page_obj.has_previous %}
            <a href="?page=1">First</a>
            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
    </div>
{% endblock %}