{% extends 'base.html' %}
{% block content %}

    {% if not request.user.is_authenticated %}

        <h3>You must log in first in order to create new gift search.</h3>
        <a href="{% url 'login' %}">Go to Login  <i class="fa-solid fa-right-to-bracket"></i></a>

    {% else %}

        <h2>Create a Gift Search</h2>

        <div class="form-container">
            <form class="login-form" method="post" novalidate>
                {% csrf_token %}

                <p>{{ form.title.label }}</p>
                <p>{{ form.title }}</p>
                <p>{{ form.title.errors }} </p>

                <p>{{ form.image.label }}</p>
                <p>{{ form.image }}</p>

                <p>{{ form.up_to_price.label }}</p>
                <p>{{ form.up_to_price }}</p>

                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <div style="display: inline-block">
                    <button class="profile-button" type="submit">Create gift search</button>
                </div>
            </form>
        </div>
    {% endif %}
{% endblock %}