{% extends 'base.html' %}
{% block content %}
    <h2>Delete Gift</h2>
    <h4 style="margin: 1em">Are you sure you want to delete your gift
        <a href="{% url 'gift-details' gift.pk %}">{{ gift.title }}</a>?
    </h4>

    <div class="form-container">
        <form class="login-form" method="post" novalidate>
            {% csrf_token %}

            <p>{{ form.title.label }}</p>
            <p>{{ form.title }}</p>

            <p>{{ form.image.label }}</p>
            <p>{{ form.image }}</p>

            <p>{{ form.description.label }}</p>
            <p>{{ form.description }}</p>

            <p>{{ form.price.label }}</p>
            <p>{{ form.price }}</p>

            <button style="margin: 0 auto" type="submit" class="profile-button">Yes</button>
        </form>
    </div>
{% endblock %}