{% extends 'base.html' %}
{% block content %}
    <h1>Gift Details</h1>

    <h2>Title: {{ gift.title }}</h2>
    <img src="{{ gift.image }}" width="60px" height="60px">
    <h3>Creator: <a href="{% url 'profile-details' gift.creator.user.id %}">{{ gift.creator.user.email }}</a></h3>
    <p>Description: {{ gift.description }}</p>
    <p>Price: {{ gift.price }}</p>
    <p style="font-style: italic; color: darkgrey ">Posted on: {{ gift.created_at }}</p>

    <h2>Comments:</h2>

    {% if comments %}
        {% for comment in comments %}
            <div>
                <p style="display: inline-block"><a
                        href="{% url 'profile-details' comment.author.pk %}">{{ comment.author.email }}</a>: {{ comment }}
                </p>

                {% if request.user == comment.author %}
                    <form style="display: inline-block" method="post"
                          action="{% url 'gift-comment-delete' gift.pk comment.pk %}">
                        {% csrf_token %}
                        <button><i class="fa-solid fa-trash"></i> Delete comment</button>
                    </form>
                {% endif %}
            </div>
        {% endfor %}
    {% else %}
        <p>There are no comments for this post yet.</p>
    {% endif %}

    {% if not request.user.is_authenticated %}
        <p style="font-style: italic">You must log in first in order to comment posts</p>
        <a href="{% url 'login' %}">Go to Login  <i class="fa-solid fa-right-to-bracket"></i></a>
    {% else %}
        <form method="post" action="{% url 'gift-comment' gift.pk 0 %}">
            {% csrf_token %}
            {{ comment_form.text }}
            <button>Add comment</button>
        </form>
    {% endif %}

    {% if request.user == gift.creator.user %}
        <a style="margin: 0 auto; display: inline-block" class="profile-button add-gift"
           href="{% url 'gift-edit' gift.pk %}">
            <i class="fa-regular fa-pen-to-square"></i> Edit</a>
        <a style="margin: 0 auto; display: inline-block" class="profile-button add-gift"
           href="{% url 'gift-delete' gift.pk %}">
            <i class="fa-solid fa-trash-can"></i> Delete</a>
    {% endif %}
{% endblock %}