{% extends 'base.html' %}
{% block content %}
    <h2>Here you can find a perfect gift,<br>made from a parent of a child with disabilities.</h2>
    <h2>Thank you for your support!</h2>

    <form method="get" class="search-container">
        {{ search_form }}
        <button>
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </form>

    <h1 style="text-align: left">Latest Gift Offers</h1>
    <div class="posts-container">

        {% if gift_offers %}
            {% for gift in gift_offers %}
                <a href="{% url 'gift-details' gift.pk %}" class="post-card">
                    <h2>{{ gift.title }}</h2>
                    <img src="{{ gift.image }}" width="60px" height="60px">
                    <p>Description: {{ gift.description }}</p>
                    <p>Price: {{ gift.price }}</p>
                    <p style="font-style: italic; color: darkgrey ">Created from: {{ gift.creator.user.email }}</p>
                    <p style="font-style: italic; color: darkgrey ">Posted on: {{ gift.created_at }}</p>
                </a>
            {% endfor %}
        {% else %}
            <h2>There are no gifts, that contain "{{ searched_gift }}"...</h2>
        {% endif %}
    </div>

    <h1 style="text-align: left">Latest Gift Searches<br/></h1>
    <div class="posts-container">
        {% if gift_searches %}
            {% for gift in gift_searches %}
                <a href="{% url 'gift-search-details' gift.pk %}" class="post-card">
                    <p>{{ gift.user.email }} is searching for</p>
                    <h2>{{ gift.title }}</h2>
                    <img src="{{ gift.image }}" width="60px" height="60px">
                    <p>Up To Price: {{ gift.up_to_price }}</p>
                    <p style="font-style: italic; color: darkgrey">Posted at: {{ gift.created_at }}</p>
                </a>
            {% endfor %}
        {% else %}
            <h2>There are no gift searches, that contain "{{ searched_gift }}"...</h2>
        {% endif %}
    </div>
{% endblock %}