{% extends 'base.html' %}
{% block content %}
    <h3>Here you can find a perfect gift,<br>made from a parent of a child with disabilities.</h3>
    <h3>Thank you for your support!</h3>

    <form method="get" class="search-container">
        {{ search_form }}
        <button>
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </form>

    <h2 class="align-left">Latest Gift Offers</h2>

    <div class="posts-container left">

        {% if gift_offers %}
            {% for gift in gift_offers %}
                <a href="{% url 'gift-details' gift.pk %}" class="post-card">
                    <h4>{{ gift.title }}</h4>
                    <div class="image-container">
                        <img src="{{ gift.image }}">
                    </div>
                    <p>Description: {{ gift.description }}</p>
                    <p>Price: {{ gift.price }}</p>
                    <p class="smaller-gray-text">Created from: {{ gift.creator.user.profile.get_full_name }}</p>
                    <p class="smaller-gray-text">Posted on: {{ gift.created_at }}</p>
                </a>
            {% endfor %}
        {% else %}
            <h2>There are no gifts, that contain "{{ searched_gift }}"...</h2>
        {% endif %}
    </div>

    <h2 class="align-left">Latest Gift Searches<br/></h2>

    <div class="posts-container left">
        {% if gift_searches %}
            {% for gift in gift_searches %}
                <a href="{% url 'gift-search-details' gift.pk %}" class="post-card">

                    <p>{{ gift.user.profile.get_full_name }} is searching for</p>
                    <h4>{{ gift.title }}</h4>

                    {% if gift.image %}
                        <div class="image-container">
                            <img src="{{ gift.image }}">
                        </div>
                    {% endif %}

                    {% if gift.up_to_price %}
                        <p>Up To Price: {{ gift.up_to_price }}</p>
                    {% endif %}

                    <p class="smaller-gray-text">Posted at: {{ gift.created_at }}</p>
                </a>
            {% endfor %}
        {% else %}
            <h2>There are no gift searches, that contain "{{ searched_gift }}"...</h2>
        {% endif %}
    </div>
{% endblock %}