{% extends 'base.html' %}
{% block content %}
    <h1>Our Heroes</h1>

    <div class="posts-container">
        {% for creator in all_creators %}
            <a href="{% url 'profile-details' creator.user.profile.pk %}" class="post-card">
                <h2>{{ creator.user.profile.get_full_name }}</h2>
                <img src="{{ creator.user.profile.profile_picture }}"
                     width="60px" height="60px">
                <p>Description {{ creator.user.profile.get_bio }}</p>
                <p>Gifts: {{ creator.gifts.count }}</p>
            </a>
        {% endfor %}
    </div>

    <div class="pagination">
        {% if page_obj.has_previous %}
            <a href="?page=1">First</a>
            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
    </div>
{% endblock %}