{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1 style="text-align: left">Profile Details</h1>

    <div class="info-container">

        <div class="image-container">
            {% if user.profile.profile_picture %}
                <img src="{{ user.profile.profile_picture }}" width="200px" height="200px">
            {% else %}
                <img src="{% static 'images/no-profile-image.jpg' %}" width="200px" height="200px">
            {% endif %}
        </div>

        <div class="more-info-container">
            <h3>Full Name: {{ user.profile.get_full_name }}</h3>
            <h3>Is creator:<br>{{ user.is_creator }}</h3>
            <h3>More Information:<br>{{ user.profile.get_bio }}</h3>
        </div>

        {% if request.user == user %}

            <div class="buttons-container">
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button class="profile-button logout-button" type="submit"><i
                            class="fa-solid fa-right-from-bracket"></i> Logout
                    </button>
                </form>
                <a class="profile-button" href="{% url 'profile-edit' request.user.pk %}"><i
                        class="fa-regular fa-pen-to-square"></i> Edit</a>
                <a class="profile-button" href="{% url 'profile-delete' request.user.pk %}"><i
                        class="fa-solid fa-trash-can"></i> Delete</a>
            </div>
        {% endif %}

    </div>

    <h1 style="text-align: left">Published Searches</h1>
    {% if user.gift_searches.all.count > 0 %}
        <ul class="posts-container">
            {% for gift in user.gift_searches.all %}
                <a href="{% url 'gift-search-details' gift.pk %}" class="post-card">
                    <h2>Title: {{ gift.title }}</h2>
                    <img src="{{ gift.image }}" width="60px" height="60px">
                    <p>Price: {{ gift.up_to_price }}</p>
                </a>
            {% endfor %}
        </ul>
    {% else %}
        <h3 style="text-align: left">There are no published searches yet.</h3>
    {% endif %}

    {% if user.is_creator %}
        <h1 style="text-align: left">Published Gifts</h1>

        {% if user.gift_creator.gifts.count > 0 %}
            <ul class="posts-container">
                {% for gift in user.gift_creator.gifts.all|slice:":3" %}
                    <a href="{% url 'gift-details' gift.pk %}" class="post-card">
                        <h2>Title: {{ gift.title }}</h2>
                        <img src="{{ gift.image }}" width="60px" height="60px">
                        <p>Description: {{ gift.description }}</p>
                        <p>Price: {{ gift.price }}</p>
                    </a>
                {% endfor %}
                {% if user.gift_creator.gifts.count > 3 %}
                    <a href="{% url 'published-gifts' user.pk %}">Load more gifts...</a>
                {% endif %}
            </ul>
        {% else %}
            <h3 style="text-align: left">There are no published gifts yet.</h3>
        {% endif %}
    {% endif %}

    <h1 style="text-align: left">Published Comments:</h1>
    {% if comments %}
        {% for comment in comments %}
            <div>
                <p>Published on: {{ comment.created_at }} about</p>
                {% if comment.to_gift_search %}
                    <a href="{% url 'gift-search-details' comment.to_gift_search.pk %}">{{ comment.to_gift_search.title }}</a>
                {% else %}
                    <a href="{% url 'gift-details' comment.to_gift.pk %}">{{ comment.to_gift.title }}</a>
                {% endif %}
                <p>{{ comment }}</p>
            </div>
        {% endfor %}
    {% else %}
        <h3 style="text-align: left">There are no published comments yet.</h3>
    {% endif %}
{% endblock %}